<footer class="ovafooter">
    <div data-elementor-type="wp-post" data-elementor-id="1030" class="elementor elementor-1030">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-9a37ba9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9a37ba9" data-element_type="section" data-settings='{"background_background":"classic"}'>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-410f0f2" data-id="410f0f2" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-d61e021 elementor-widget elementor-widget-image" data-id="d61e021" data-element_type="widget" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image"> <a href="#"> <img decoding="async" src="~/images/bazaimage.png" class="attachment-full size-full wp-image-3376" alt="" loading="lazy"> </a></div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-9d80b81 elementor-widget elementor-widget-text-editor" data-id="9d80b81" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix">
                                                    <p><span style="color: #cccccc;">Lorem ipsum dolor sit amet, conse ctetuers adipiscing eli sed diam nonum nibhie…</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-8f9e958 elementor-widget elementor-widget-ova_social" data-id="8f9e958" data-element_type="widget" data-widget_type="ova_social.default">
                                            <div class="elementor-widget-container">
                                                <div class="ova_social ova-framework-social-icons-wrapper">
                                                    <div class="content"> <a class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-facebook" href="#" target="_blank"> <i class="fa fa-facebook" style=""></i> </a> <a class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-pinterest" href="#" target="_blank"> <i class="fa fa-pinterest" style=""></i> </a> <a class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-instagram" href="#" target="_blank"> <i class="fa fa-instagram" style=""></i> </a> <a class="ova-framework-icon ova-framework-social-icon ova-framework-social-icon-twitter" href="#" target="_blank"> <i class="fa fa-twitter" style=""></i> </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-53fb2e8" data-id="53fb2e8" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-37d33bd elementor-widget elementor-widget-heading" data-id="37d33bd" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Sobre nós</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7382674 elementor-align-left elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7382674" data-element_type="widget" data-widget_type="icon-list.default">
                                            <div class="elementor-widget-container">
                                                <ul class="elementor-icon-list-items">
                                                    <li class="elementor-icon-list-item"> <a href="#"> <span class="elementor-icon-list-text">About Us</span> </a></li>
                                                    <li class="elementor-icon-list-item"> <a href="#"> <span class="elementor-icon-list-text">Submit Event</span> </a></li>
                                                    <li class="elementor-icon-list-item"> <a href="#"> <span class="elementor-icon-list-text">All Venues</span> </a></li>
                                                    <li class="elementor-icon-list-item"> <a href="#"> <span class="elementor-icon-list-text">All Locations</span> </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b6c5c66" data-id="b6c5c66" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-ce13c59 elementor-widget elementor-widget-heading" data-id="ce13c59" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Contact Us</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-16802b5 elementor-widget elementor-widget-ova_contact" data-id="16802b5" data-element_type="widget" data-widget_type="ova_contact.default">
                                            <div class="elementor-widget-container">
                                                <div class="ova-contact">
                                                    <div class="icon"> <i class="icon_pin_alt"></i></div>
                                                    <div class="address"><span><a href="#">San Francisco City Hall, San Francisco, CA</a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-96868ab elementor-widget elementor-widget-ova_contact" data-id="96868ab" data-element_type="widget" data-widget_type="ova_contact.default">
                                            <div class="elementor-widget-container">
                                                <div class="ova-contact">
                                                    <div class="icon"> <i class="icon_mail_alt"></i></div>
                                                    <div class="address"><span><a href="/cdn-cgi/l/email-protection#1734"><span class="__cf_email__" data-cfemail="ccafa3a2b8adafb88ca8a3a1ada5a2e2afa3a1">[email protected]</span></a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-f7be147 elementor-widget elementor-widget-ova_contact" data-id="f7be147" data-element_type="widget" data-widget_type="ova_contact.default">
                                            <div class="elementor-widget-container">
                                                <div class="ova-contact">
                                                    <div class="icon"> <i class="icon_mobile"></i></div>
                                                    <div class="address"><span><a href="tel:081000000">(+011) 01234567</a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-a1c0393" data-id="a1c0393" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-6d8d347 elementor-widget elementor-widget-heading" data-id="6d8d347" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-default">Baixar a App</h2>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c43bc2a elementor-widget elementor-widget-image" data-id="c43bc2a" data-element_type="widget" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image"> <img decoding="async" src="~/images/thumbs-apple-store-1-pdwp7sae9bvt9hlz5zn345sljk965blfdlfkbaklj4.png" title="apple-store" alt="apple-store" loading="lazy"></div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-e324d70 elementor-widget elementor-widget-image" data-id="e324d70" data-element_type="widget" data-widget_type="image.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-image"> <img decoding="async" src="~/images/thumbs-google_play-1-pdwp7v3wttzo8bhvpiuytn2zbpv9sewmdze0r4gf0g.png" title="google_play" alt="google_play" loading="lazy"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-c378d2f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c378d2f" data-element_type="section" data-settings='{"background_background":"classic"}'>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cacad94" data-id="cacad94" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-f37729f elementor-widget elementor-widget-heading" data-id="f37729f" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container"> <span class="elementor-heading-title elementor-size-default">© 2021 <span style="color: #fff"></span>. All Rights Reserved.</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-54da00d" data-id="54da00d" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-53c98be elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="53c98be" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container"> <span class="elementor-heading-title elementor-size-default"><a href="#">Terms of use</a></span></div>
                                        </div>
                                        <div class="elementor-element elementor-element-f5131e9 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="f5131e9" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container"> <span class="elementor-heading-title elementor-size-default"><a href="#">|</a></span></div>
                                        </div>
                                        <div class="elementor-element elementor-element-cd018f9 elementor-widget__width-auto elementor-widget elementor-widget-heading" data-id="cd018f9" data-element_type="widget" data-widget_type="heading.default">
                                            <div class="elementor-widget-container"> <span class="elementor-heading-title elementor-size-default"><a href="#">Privacy policy</a></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>