@{
    string currentItemStyle = "current_page_item active";
}

<div class="ovaheader">
    <div data-elementor-type="wp-post" data-elementor-id="3251" class="elementor elementor-3251">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-bcd1017 elementor-section-full_width ovamenu_shrink ovamenu_shrink_mobile text_dark elementor-section-height-default elementor-section-height-default" data-id="bcd1017" data-element_type="section" data-settings='{"background_background":"classic"}'>
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4eeb73d" data-id="4eeb73d" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-64ef812 elementor-widget elementor-widget-ova_logo" data-id="64ef812" data-element_type="widget" data-widget_type="ova_logo.default">
                                            <div class="elementor-widget-container"> <a class="ova_logo" href="/"> <img decoding="async" src="images/bazaimage.png" alt="MeUp – Listing Marketplace Eventos WordPress Theme" class="desk-logo d-none d-xl-block"> <img decoding="async" src="images/bazaimage.png" alt="MeUp – Listing Marketplace Eventos WordPress Theme" class="mobile-logo d-block d-xl-none"> <img decoding="async" src="images/bazaimage.png" alt="MeUp – Listing Marketplace Eventos WordPress Theme" class="logo-fixed"> </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-586548e" data-id="586548e" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-fd63fd8 elementor-view-primary-menu elementor-widget__width-auto elementor-widget elementor-widget-ova_menu" data-id="fd63fd8" data-element_type="widget" data-widget_type="ova_menu.default">
                                            <div class="elementor-widget-container">
                                                <div class="ova_menu_clasic">
                                                    <div class="ova_wrap_nav row NavBtn_right NavBtn_right_m">
                                                        <button class="ova_openNav" type="button"> <i class="fas fa-bars"></i> </button>
                                                        <div class="ova_nav canvas_left canvas_bg_gray">
                                                            <a href="javascript:void(0)" class="ova_closeNav"><i class="fas fa-times"></i></a>
                                                            <ul id="menu-primary-menu" class="menu sub_menu_dir_right">
                                                                <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-85 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-91 dropdown active">
                                                                    <a title="Home" href="/">Início</a><button type="button" class="dropdown-toggle"></button>
                                                                </li>
                                                                <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251 dropdown">
                                                                    <a title="Page" href="/eventos">Eventos</a><button type="button" class="dropdown-toggle"></button>
                                                                </li>
                                                                <li id="menu-item-251" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251 dropdown">
                                                                    <a title="Page" href="#">Agenda Unitel</a><button type="button" class="dropdown-toggle"></button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="ova_closeCanvas ova_closeNav"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-79646bb elementor-widget__width-auto elementor-widget elementor-widget-ova_menu_account" data-id="79646bb" data-element_type="widget" data-widget_type="ova_menu_account.default">
                                            <div class="elementor-widget-container">
                                                <div class="ova-menu-acount"> <span class="login"> <a href="/entrar"> <i class="fa fa-user"></i> Entrar </a> </span> <span class="slash">|</span> <span class="register"> <a href="/registrar"> Registrar </a> </span></div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-c54af68 button-create-event elementor-widget__width-auto elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-el_button_create_event" data-id="c54af68" data-element_type="widget" data-widget_type="el_button_create_event.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper"> <a href="entrar" class="elementor-button-link elementor-button elementor-size-sm" role="button"> <i class="fa-solid fa-plus"></i> Criar Evento</span> </span> </a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>