@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "AdminOrganizers";
    Layout = "../Shared/_Layout.cshtml";
    
}

<div class="container-fluid">

    <br />
<div class="row">
    <div class="col-md-12">
        <label>Nome</label>
        <input type="text" placeholder="Nome do organizador..." class="form-control" />
    </div>
    <div class="col-md-12">&nbsp;</div>
    
    <div class="col-md-12">
        <label>Logotipo</label>
        <input type="file" placeholder="Logotipo da empresa do organizador..." class="form-control" />
    </div>
    <div class="col-md-12">&nbsp;</div>
    
    <div class="col-md-12">
        <button class="btn btn-primary" style="float:right;" title="Salvar organizador">Salvar</button>
        <button class="btn btn-primary" title="Limpar campos" style="float:right; margin-right:10px;">Limpar</button>
    </div>

</div>
</div>