@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "AdminOrganizers";
    Layout = "../Shared/_Layout.cshtml";
    
}
<h2>[FORMS} TO CREATE ORGANIZER</></h2>
