@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "AdminCategories";
    Layout = "../Shared/_Layout.cshtml";

}
<h2>[FORMS} TO CREATE CATEGORY</></h2>