@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    ViewData["Title"] = "AdminEvents";
    Layout = "../Shared/_Layout.cshtml";
    
}
<h2>[FORMS} TO CREATE EVENT</></h2>
<div class="container-fluid">

    <br />
@*    <form id="" method="POST">
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Título do evento" autocomplete="on" class="form-control" />
        </div>
    </div>
<br />
    <div class="row">
        <label>Data</label>
        <div class="col-md-12">
            <input type="text" placeholder="Data de ocorrência do evento" autocomplete="on" class="form-control" />
        </div>
    </div>
    
    <div class="row">
    <label>Data</label>
    <div class="col-md-12">
        <input type="radio" placeholder="pvd" value="Privado"/>
                <input type="radio" value="Privado"/>
    </div>

</div>

    </form>*@

</div>