@using BazarCore.Models.DTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model AddEventDTO
@{
    ViewData["Title"] = "AdminEvents";
    Layout = "../Shared/_Layout.cshtml";
    
}

<div class="container-fluid">

    <br />
    <div class="row">
        <form method="post" formaction="create" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Título</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger">Por favor, insira um título válido (entre 3 e 64 caracteres).</span>
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label">Imagem</label>
                <input asp-for="Image" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger">Por favor, selecione uma imagem.</span>
            </div>
            <div class="mb-3">
                <label asp-for="Banner" class="form-label">Banner</label>
                <input asp-for="Banner" type="file" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Descrição</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="OrganizerId" class="form-label">Organizador</label>
                <select asp-for="OrganizerId" class="form-control">
                    <option value="">Selecione um organizador</option>
                   
                        <option value="1">ShowBiz</option>
                   
                </select>
                <span asp-validation-for="OrganizerId" class="text-danger">Por favor, selecione um organizador.</span>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Categoria</label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="">Selecione uma categoria</option>
                    
                        <option value="1">Negocio</option>
                    
                </select>
                <span asp-validation-for="CategoryId" class="text-danger">Por favor, selecione uma categoria.</span>
            </div>
            <div class="mb-3">
                <label asp-for="CityId" class="form-label">Cidade</label>
                <select asp-for="CityId" class="form-control">
                    <option value="">Selecione uma cidade</option>
                    
                        <option value="1">Luanda</option>
                    
                </select>
                <span asp-validation-for="CityId" class="text-danger">Por favor, selecione uma cidade.</span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Endereço</label>
                <input asp-for="Address" class="form-control" />
            </div>
            <div class="form-check mb-3">
                <input asp-for="IsPrivate" class="form-check-input" />
                <label class="form-check-label" asp-for="IsPrivate">Evento privado</label>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        

      @*  <div class="col-md-12">
            <label>Título</label>
            <input type="text" placeholder="Título do evento..." class="form-control" />
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
            <label>Data</label>
            <input type="datetime" placeholder="<DATE PICKER>" class="form-control" />
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
            <label>Categoria</label>
            <select class="form-control">
                <option value="Categoria 1">Categoria 1</option>
                <option value="Categoria 2">Categoria 2</option>
                <option value="Categoria 3">Categoria 3</option>
                <option value="Categoria 4">Categoria 4</option>
            </select>
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
            <label>Imagem</label>
            <input type="file" placeholder="Capa do evento..." class="form-control" />
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
            <label>Banner</label>
            <input type="file" placeholder="Banner da página do evento..." class="form-control" />
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">
            <label>Organizador</label>
            <select class="form-control">
                <option value="Organizador 1">Organizador 1</option>
                <option value="Organizador 2">Organizador 2</option>
                <option value="Organizador 3">Organizador 3</option>
                <option value="Organizador 4">Organizador 4</option>
            </select>
        </div>
        <div class="col-md-12">&nbsp;</div>
        <div class="col-md-12">            
            <button class="btn btn-primary" style="float:right;" title="Salvar evento">Salvar</button>
            <button class="btn btn-primary" title="Limpar campos" style="float:right; margin-right:10px;">Limpar</button>
            </div>*@
        
    </div>
</div>